*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "微软雅黑", "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background: #FFF;
    overflow-x:hidden;
}
@font-face {
    font-family: hua;
    src: url('../font/华文行楷.ttf');
}
#content{
    width: 100%;
    height: auto;
    background: url("../images/background.jpg") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5% 0 6% 0;
}
#content .title{
    font-size: 16rem;
    color: #FFF;
    text-align: center;
    text-shadow: 1rem 1rem 1rem #333;
    letter-spacing: 1.2rem;
    margin: 40px 0 50px 0;
    font-family: hua;
}
#content .center,#content .firstThree{
    width: 1024px;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#content .center>li,#content .firstThree>li{
    border-radius: 6px;
    margin-top: 10px;
    position: relative;
}
#content .firstThree>li .template{
    width: inherit;
    height: inherit;
    background: url("../images/template.png") no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    position: relative;
}
#content .center>li .template{
    width: inherit;
    height: inherit;
    background: url("../images/template.png") no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    position: relative;
}
#content .center{
    justify-content: space-around;
}
#content .firstThree{
    justify-content: space-around;
}
#content .center>li{
    width: 220px;
    height: 280px;
    position: relative;
}
#content .firstThree>li{
    width: 220px;
    height: 280px;
    position: relative;
}
#content .firstThree>li p,#content .center>li p{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
.actual{
    display: none;
}
.gold{
    background: url("../images/gold.png");
}
.bronze{
    background: url("../images/bronze.png");
}
.silver{
    background: url("../images/silver.png");
}
.red{
    background: -webkit-linear-gradient(left,#652b49, #e51027,#e3011c);
    background: -o-linear-gradient(right, #652b49, #e51027,#e3011c);
    background: -moz-linear-gradient(right, #652b49, #e51027,#e3011c);
    background: linear-gradient(to right, #652b49, #e51027,#e3011c);
}
.blue{
    background: -webkit-linear-gradient(left,#2073db, #18328c,#1f22d6);
    background: -o-linear-gradient(right, #2073db, #18328c,#1f22d6);
    background: -moz-linear-gradient(right, #2073db, #18328c,#1f22d6);
    background: linear-gradient(to right, #2073db, #18328c,#1f22d6);
}
#content .firstThree>li .header{
    width: 220px;
    height: 160px;
    position: relative;
}
#content .firstThree>li .footer{
    width: 220px;
    height: 120px;
    position: relative;
}
#content .firstThree>li>img{
    width: 150px;
    height: 160px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    position: absolute;
    top:9px;
    left: 40px;
}
#content .firstThree>li .header>span{
    width: 220px;
    display: block;
    font-weight: bold;
    color: #FFF;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: rotate(-4deg);
    letter-spacing: 1px;
}
#content .firstThree>li .footer>div{
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 38px;
    background: url("../images/blood.png") no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    overflow: hidden;
}
#content .firstThree>li .businessBar{
    width: 105px;
    height: 7px;
    position: absolute;
    right: 32px;
    bottom: 25px;
    z-index: 9998;
    border-bottom-right-radius: 4px;
}
#content .firstThree>li .businessBar .background{
    width: 105px;
    height: 7px;
}
#content .firstThree>li .praiseBar{
    width: 83px;
    height: 5px;
    position: absolute;
    right: 56px;
    bottom: 20px;
    z-index: 9998;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
}
#content .firstThree>li .praiseBar .background{
    width: 83px;
    height: 5px;
}
#content .firstThree>li .businessBar>bdi,#content .firstThree>li .praiseBar>bdi,#content .firstThree>li .businessBar>bdo,#content .firstThree>li .praiseBar>bdo{
    display: none;
}
#content .firstThree>li .businessBar .actual,#content .firstThree>li .praiseBar .actual{
    display: none;
}
#content .firstThree>li dl{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top:35px;
}
#content .firstThree>li dl>dd{
    width: 30px;
    height: 50px;
    display: inline-block;
    background-size: 100% 100%;
}
#content .firstThree>li .name{
    width: 220px;
    position: absolute;
    font-size: 2px;
    top:20px;
    text-align: center;
}


#content .center>li .header{
    width: 220px;
    height: 160px;
    position: relative;
}
#content .center>li .footer{
    width: 220px;
    height: 120px;
    position: relative;
}
#content .center>li>img{
    width: 150px;
    height: 160px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    position: absolute;
    top:9px;
    left: 40px;
}
#content .center>li .header>span{
    width: 220px;
    display: block;
    font-weight: bold;
    color: #FFF;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: rotate(-4deg);
    letter-spacing: 1px;
}
#content .center>li .footer>div{
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 38px;
    background: url("../images/blood.png") no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    overflow: hidden;
}
#content .center>li .businessBar{
    width: 105px;
    height: 7px;
    position: absolute;
    right: 32px;
    bottom: 25px;
    z-index: 9998;
    border-bottom-right-radius: 4px;
}
#content .center>li .businessBar .background{
    width: 105px;
    height: 7px;
}
#content .center>li .praiseBar{
    width: 83px;
    height: 5px;
    position: absolute;
    right: 56px;
    bottom: 20px;
    z-index: 9998;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
}
#content .center>li .praiseBar .background{
    width: 83px;
    height: 5px;
}
#content .center>li .businessBar>bdi,#content .center>li .praiseBar>bdi,#content .center>li .businessBar>bdo,#content .center>li .praiseBar>bdo{
    display: none;
}
#content .center>li .businessBar .actual,#content .center>li .praiseBar .actual{
    display: none;
}
#content .center>li dl{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    top:35px;
}
#content .center>li dl>dd{
    width: 30px;
    height: 50px;
    display: inline-block;
    background-size: 100% 100%;
}
#content .center>li .name{
    width: 220px;
    position: absolute;
    font-size: 2px;
    top:20px;
    text-align: center;
}



