*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "微软雅黑", "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background: #FFF;
    overflow-x:hidden;
}
@font-face {
    font-family: hua;
    src: url('../font/华文行楷.ttf');
}
#content{
    width: 100%;
    height: auto;
    background: url("../images/background.jpg") no-repeat center top;
    background-size:100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5% 0 16% 0;
}
#content .title{
    font-size: 14rem;
    color: #FFF;
    text-align: center;
    text-shadow: 1rem 1rem 1rem #333;
    letter-spacing: 1.2rem;
    margin: 5% 0 30px 0;
    font-family: hua;
    position: relative;
}
#content a{
    font-size:3rem;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:150px;
    color:#FFF;
    font-family: hua;
    letter-spacing: normal;
    text-shadow: none;
}
#content .firstThree{
    width: 82%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#content .firstThree>li{
    border-radius: 6px;
    margin-top: 10px;
    position: relative;
    transition: all .5s;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(transparent,transparent 88%,rgba(255,255,255,0.6));
}
#content .firstThree>li:first-child{
    border-style: solid;
    border-color: gold #fff419;
}
#content .firstThree>li:nth-child(2){
    border-style: solid;
    border-color: #8c8c8c #e7e7e7;
}
#content .firstThree>li:nth-child(3){
    border-style: solid;
    border-color:#D98719 #fbca67;
}
#content .firstThree>li .template{
    width: inherit;
    height: inherit;
    background: url("../images/template.png") no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    position: relative;
    overflow: hidden;
}
#content .firstThree{
    justify-content: space-around;
}
#content .firstThree>li{
    width: 160px;
    height: 220px;
    position: relative;
}
.actual{
    display: none;
}
.gold{
    background: url("../images/gold.png");
}
.bronze{
    background: url("../images/bronze.png");
}
.silver{
    background: url("../images/silver.png");
}
.red{
    background: -webkit-linear-gradient(left bottom,#ffff92,#fffe84, #e1b42e,#6d4c08);
    background: -o-linear-gradient(right top, #ffff92,#fffe84, #e1b42e,#6d4c08);
    background: -moz-linear-gradient(right top, #ffff92,#fffe84, #e1b42e,#6d4c08);
    background: linear-gradient(to right top, #ffff92,#fffe84, #e1b42e,#6d4c08);
}
.blue{
    background: -webkit-linear-gradient(left bottom,#ffb867, #cc352b,#682a23);
    background: -o-linear-gradient(right top, #ffb867, #cc352b,#682a23);
    background: -moz-linear-gradient(right top, #ffb867, #cc352b,#682a23);
    background: linear-gradient(to right top, #ffb867, #cc352b,#682a23);
}
#content .firstThree>li .header{
    width: 160px;
    height: 100px;
    position: relative;
}
#content .firstThree>li .header>sub{
    position:absolute;
    font-size:4rem;
    left:11px;
    top:-4px;
    color:#FFF;
    -webkit-text-stroke: 1px #333;
    font-weight:bold;
}
#content .firstThree>li .footer{
    width: 180px;
    height: 120px;
    position: relative;
}
#content .firstThree>li>img{
    width: 110px;
    height: 110px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    position: absolute;
    top:6px;
    left: 28px;
}
#content .firstThree>li .footer .name{
    width: 160px;
    color: #FFF;
    font-size: 1.8rem;
    position: absolute;
    bottom: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-family: hua;
}
#content .firstThree>li .showActual{
    position: absolute;
    width: auto;
    text-align: center;
    bottom:1px;
    display: none;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    background:rgba(255,255,255,0.6);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 1px;
}
#content .firstThree>li .businessBars{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 9px;
    bottom: 2px;
    z-index: 9999;
    border-radius: 50%;
}
#content .firstThree>li .praiseBars{
    width: 30px;
    height: 40px;
    position: absolute;
    right: 3px;
    bottom: 1px;
    z-index: 9999;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 80%;
}
#content .firstThree>li .businessBars>bdo,#content .firstThree>li .praiseBars>bdo{
    width: 32px;
    height: 32px;
    font-size: 1rem;
    position: absolute;
    bottom: -10px;
    left: 5px;
    font-family: hua;
    display: none;
}
#content .firstThree>li .businessBar{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 9px;
    bottom: 2px;
    z-index: 9998;
    border-radius: 50%;
}
#content .firstThree>li .businessBar .background{
    width: 32px;
    height: 32px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    bottom: 0;
}
#content .firstThree>li .praiseBar{
    width: 30px;
    height: 40px;
    position: absolute;
    right: 3px;
    bottom: 1px;
    z-index: 9998;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 80%;
}
#content .firstThree>li .praiseBar .background{
    width: 30px;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 52%;
    border-bottom-left-radius: 80%;
}
#content .firstThree>li .businessBar>bdi,#content .firstThree>li .praiseBar>bdi,#content .firstThree>li .businessBar>bdo,#content .firstThree>li .praiseBar>bdo{
    display: none;
}
#content .firstThree>li .businessBar .actual,#content .firstThree>li .praiseBar .actual{
    display: none;
}
#content .firstThree>li dl{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    top:10px;
}
#content .firstThree>li dl>dd{
    width: 15px;
    height: 15px;
    float:left;
    background-size: 100% 100%;
}
#content .firstThree>li .address{
    width: 160px;
    height: auto;
    position: absolute;
    top:42px;
}
#content .firstThree>li .address>li{
    width: inherit;
    text-align: center;
    font-size: 1rem;
    font-family: hua;
    margin-top: 1px;
}