*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑", "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}
article{
    background: #333;
    z-index: 9999;
    display: block;
}
i{
    width: 5rem;
    height: 5rem;
    background: url("../images/close.png") no-repeat;
    background-size:cover;
    position: fixed;
    bottom: 5rem;
    left:50%;
    transform: translateX(-50%);
}